

.card {
    border-top: 10px solid #015112!important;
    width: 850px;
    /* height: 300px!important; */
    /* border-top: 10px solid #145d41!important; */
    /* max-height: 310px; */
}

.first-description-paragraph {
    text-align: left;
}

.second-description-paragraph {
    margin-top: 1rem;
    text-align: left;
}

.more-txt {
    font-size: 17px;
}

@media (max-width: 768px) {
    .card {
      width: 400px;
    }
  }